.ajout-apt{
    width: 60%;
    margin:auto;
}
h1{
    margin: 16px 6px;
    font-size: 1.4rem;
    padding: 10px 0;
    border-bottom: 1px solid gray;
}
.apt-photos .photos{
    border: 1px solid  ;
    border-radius: 20px;
    width: 200px;
    display: flex;
    justify-content: center;
    padding:20px;
    margin: 20px auto;
}
.apt-img{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.apt-img img{
    height: 120px;
    width: 150px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 4px gray;
    transition: 0.2s ;
}
.apt-img img:hover{
    transform: scale(1.03);
}
.apt-photos .photos label{
    text-align: center;
}

.categorie .categories{
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}
.categorie .categories div{
    min-width: 120px;
    height: 120px;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex; justify-content: center; align-items: center;
    font-weight: bold;
}
.categorie .categories div:hover{
    background-color: rgb(230, 252, 244);
}

.categorie .categories div.selected{
    border: 2px solid red;
}
.adresse textarea{
    width: 70%;
    display: block;
    margin: 30px auto;
    padding: 15px;
    border-radius: 20px;
}

.options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    gap: 60px;
}
.options div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 35px;
    border: 1px solid;
    border-radius: 20px;
    font-size: 40px;
}
.options div:hover{
    background-color: rgb(230, 252, 244);
}
.options div span{
    font-weight: bold;
    font-size: 1.2rem;
}
.options div.selected{
    border: 2px solid red;
}
.submit{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.submit button{
    margin: 40px 20px;
    display: block;
    padding: 20px 26px;
    border-radius: 20px;
    outline: none;
    border: 1px solid gray;
}