.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;    
;
}

.logo img{
    width: 70px;
    cursor: pointer;
}

.user{
    position: relative;
}
.user .icons{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid rgb(194, 191, 191);
    border-radius: 25px;
    padding: 5px 15px;
    color: rgb(71, 71, 71);
    cursor: pointer;
}

.menus {
    position: absolute ;
    z-index: 44;
    top: 50px; right: 0px;
    width: 140px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 1px gray;
    display: none;
    padding: 10px;
}

.menus.show{
    display: block;
}
.menus div div:hover{
    background-color: aliceblue;
}

.menus .connected, .menus .disconnected{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 10px;
    text-decoration: none;
}
.menus .connected a, .menus .disconnected a{
    text-decoration: none;
    padding: 10px;
}